@{
    ViewBag.Title = "Toplantı Başvuru";
}

<h1 class="h4">@ViewBag.Selamlama, @ViewBag.UsurName</h1>
<p>Toplantı katılım durumunuzu belirtin.</p>
<a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru Yap</a>